gym[atari]>=0.14.0  # Installs gym and atari. Needs to happen at once.
atari-py==0.2.5  # Version with ROMs.
gitpython>=2.1  # For logging metadata.
## Wrappers
opencv-python  # for atari
## dev packages
flake8
black
pre-commit
